@import "../../../assets/styles/_variables";

.contactsList {
  padding: 0;
}

.contactItem {
  padding: $spacing-xs $spacing-sm;
}

.avatar {
  background-color: $primary-color;
  color: white;
  margin-right: $spacing-sm;
}
